<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is my first Template</h1>
    <h2>This is my first page</h2>
    <span>{{data}}</span>
    {% for student in students %}
        {% if student.Gender %}
            <h3>Student : {{student.First_Name}}</h3>
        {% endif %}
    {% endfor %}
</body>
</html>